<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" href="../css/index.css">
    <meta charset="UTF-8">
    <meta name="description" content="Strona o mnie">
    <meta name="keywords" content="Programming, Pwr">
    <meta name="author" content="Adam Niezgoda">

    <title>Strona główna</title>
    <noscript>
      <style>
        #menu_options{
          display: block;
        }
        #hamburger{
          display: none;
        }
      </style>
    </noscript>
</head>
<body>

  {{template "navbar"}}

  <section>
    <h1> GALLERY</h1>
  </section>
 
 
</body>
<script 
    src="../scripts/script.js">
</script>
</html>