<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" href="../css/index.css">
    <meta charset="UTF-8">
    <meta name="description" content="Strona o mnie">
    <meta name="keywords" content="Programming, Pwr">
    <meta name="author" content="Adam Niezgoda">
    <title>Hobby</title>
    <noscript>
      <style>
        #menu_options{
          display: block;
        }
        #hamburger{
          display: none;
        }
      </style>
    </noscript>
</head>
<body>

{{template "navbar"}}


<article class = "article_in_hobby article_in_science">
   <h2>Rowery</h2>
</article>

</html>

