<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" href="../css/index.css">
    <meta charset="UTF-8">
    <meta name="description" content="Strona o mnie">
    <meta name="keywords" content="Programming, Pwr">
    <meta name="author" content="Adam Niezgoda">

    <title>Strona główna</title>
    <noscript>
      <style>
        #menu_options{
          display: block;
        }
        #hamburger{
          display: none;
        }
      </style>
    </noscript>
</head>
<body>

  {{template "navbar"}}
  
  <article id = "start_article">
      <img id="photo_of_me" src="../img/ja.jpg" alt="Zdjęcie przedstawiające mnie">
      <h2>Cześć!</h2> 
      <h3>Nazywam się Adam Niezgoda</h3>
  </article>

  <footer>
      <h2><i>Celem tej strony jest zdobycie punktów na zaliczenie kursu</i></h2>
  </footer>
      
</body>
</html>
