{{define "navbar"}}
<header id = "header-in-main">
    <img id="logo" src="../img/pwr.png" alt="logoPwr">
    <h1>Basic HTML Stuff</h1>
    <p><cite>Literka P, literka W, literka R, jak PWR</cite></p>
  </header>

  <nav>
    <button id="hamburger">
      <div class="line_in_button"></div>
      <div class="line_in_button"></div>
      <div class="line_in_button"></div>
    </button>
    <div id="menu_options">
      <a href="./index.html">About</a>
      <a href="./science.html">Zainteresowania naukowe</a>
      <a href="./hobby.html">Sprawy pozanaukowe</a>
      <a href="./grid_test.html">Grid Fun</a>
    </div>
  </nav>
{{end}}